*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fs-title: 2.5rem;
  --fs-text: 1rem;
  --fs-language: 0.8125rem;
  --fs-project: 1.5rem;
  --fs-link: 0.75rem;
  --fs-navlinks: 16px;

  --lh-title: 2.625rem;
  --lh-text: 1.5rem;
  --lh-language: 1.875rem;
  --lh-project: 1.5rem;

  --fw-bold: 700;
  --fw-regular: 400;

  --clr-home: hsla(29, 81%, 81%, 1);
  --clr-about: hsla(56, 71%, 77%, 1);
  --clr-work: hsla(145, 50%, 81%, 1);
  --clr-contact: hsla(320, 54%, 83%, 1);
  --clr-text: hsla(245, 10%, 22%, 1);

  --m-title: 1.75rem;
  --m-button: 2.5rem;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 94px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--clr-text);
}

.body-overflow.active {
  overflow-y: hidden;
}

body button {
  border: transparent;
  background-color: transparent;
}

body a {
  text-decoration: none;
  color: var(--clr-text);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 25px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.3s;
  background-color: hsla(0, 0%, 100%, 1);
  z-index: 2;
}

.logo {
  display: flex;
  z-index: 2;
}

.hamburger {
  height: 22px;
  width: 30px;
  position: relative;
  z-index: 2;
}

.hamburger__bar {
  width: 30px;
  height: 2px;
  position: absolute;
  border-radius: 2px;
  left: 0;

  transition: background 10ms ease-out 0.2s;
  background-color: black;
}

.hamburger__bar::before,
.hamburger__bar::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  border-radius: 2px;
  transition: transform 0.2s ease-out 0s, top 0.2s ease-out 0.25s;
}

.hamburger__bar::before {
  top: -10px;
  background-color: black;
}

.hamburger__bar::after {
  top: 10px;
  background-color: black;
}

.hamburger__bar.active {
  background: transparent;
}

.hamburger__bar.active::before,
.hamburger__bar.active::after {
  transition: top 0.2s ease-out 0s, transform 0.2s ease-out 0.25s;
  top: 0;
}

.hamburger__bar.active::before {
  transform: rotate(45deg);
}

.hamburger__bar.active::after {
  transform: rotate(-45deg);
}

.menu {
  visibility: hidden;
  opacity: 0;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 73px;
  left: 0;
  transition: 0.4s ease-out;
}

.menu.active {
  visibility: visible;
  opacity: 1;
  backdrop-filter: blur(5px);
}

.background-blur {
  display: none;
}

.background-blur.active {
  display: block;
  height: 100%;
  width: 31%;
}

.list {
  background-color: hsla(0, 0%, 100%, 1);

  transition: 0.5s ease-out;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.list.active {
  width: 69%;
  box-shadow: rgba(9, 30, 66, 0.25) -4px 10px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.list__block {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.list__links {
  font-size: var(--fs-navlinks);
  color: var(--clr-text);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.list__links::before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.list__link-home::before {
  background-color: var(--clr-home);
}

.list__link-about::before {
  background-color: var(--clr-about);
}

.list__link-work::before {
  background-color: var(--clr-work);
}
.list__link-contact::before {
  background-color: var(--clr-contact);
}

main {
  padding: 0 25px;
  margin-bottom: 7.8125rem;
}

.home-section {
  min-height: 100vh;
  padding-top: 9.375rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home-section__title {
  font-size: var(--fs-title);
  line-height: var(--lh-title);
}

.home-section__description {
  margin: var(--m-title) 0 var(--m-button) 0;
  font-size: var(--fs-text);
  line-height: var(--lh-text);
}

.home-section__link {
  display: inline-flex;
  font-size: var(--fs-link);
  text-transform: uppercase;
  padding: 1.0625rem 2rem;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right top, #eee89c, #dbeaa7, #cbeab3, #bee9c0, #b7e7cb);
}

.about-section {
  display: flex;
  flex-direction: column;
  gap: var(--m-title);
}

.section__title,
.contact-title {
  font-size: var(--fs-title);
  line-height: var(--lh-title);
  width: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.section__title::after,
.contact-title::after {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  margin-left: 32px;
}

.about-section__title::after {
  background-color: var(--clr-about);
}

.work-section__title::after {
  background-color: var(--clr-work);
}

.contact-title::after {
  background-color: var(--clr-contact);
}

.about-section__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-section__list {
  display: flex;
  list-style: inside url(../images/icon-list-style.svg);
  gap: 64px;
}

.about-section__list__items {
  font-size: var(--fs-language);
  line-height: var(--lh-language);
  color: var(--clr-text);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

.work-section {
  display: flex;
  flex-direction: column;
  margin-top: 7.8125rem;
  align-items: center;
}

.primary-block-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: var(--m-title) 0 3rem 0;
}

.secondary-block-card {
  display: none;
}

.secondary-block-card.active {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin-bottom: var(--m-button);
}

.secondary-sub-block-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.secondary-card {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 20px 0.9375rem;
}

.card,
.secondary-card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card__img {
  width: 100%;
  max-height: 236px;
  object-fit: cover;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 20px 0.9375rem;
}

.card__title {
  font-size: var(--fs-project);
  line-height: var(--lh-project);
  color: var(--fs-text);
}

.card__text {
  font-size: var(--fs-text);
  line-height: var(--lh-text);
  color: var(--clr-text);
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.card__languages {
  font-size: var(--fs-language);
  line-height: var(--lh-language);
  color: var(--clr-text);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

.card__block-links {
  display: flex;
  gap: 24px;
}

.card__links {
  display: flex;
}

.card__links:nth-child(1):hover path {
  fill: var(--clr-contact);
}

.card__links:nth-child(2):hover path {
  stroke: var(--clr-contact);
}

.show-more {
  font-size: var(--fs-link);
  color: var(--clr-text);
  text-transform: uppercase;
  padding: 1.0625rem 2rem;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right top, #eee89c, #dbeaa7, #cbeab3, #bee9c0, #b7e7cb);
}

footer {
  padding: 0 25px;
  margin-bottom: calc(var(--m-title) * 2);
}

.contact-content {
  display: flex;
  flex-direction: column;
  margin-top: var(--m-title);
  gap: var(--m-button);
  align-items: center;
}

.contact-content__text {
  font-size: var(--fs-text);
  line-height: var(--lh-text);
  color: var(--clr-text);
}

.contact-links {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
}

.contact-block-network {
  display: flex;
  gap: 24px;
  align-items: center;
}

.contact-social-network {
  display: flex;
}

.contact-social-network:hover path {
  fill: var(--clr-contact);
}
